html, body{
    margin: 0;
    /* height: 100%; */
    /* color: white; */
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;

    background-color: #0D1B2A;
    flex-wrap: wrap;
    padding: 15px;
    top:0;
}

.navItem{
    width: 150px;
    display: flex;
}
.navItem:hover{
    cursor: pointer;
}
.navItem div{
    color: white;
    font-size: xx-large;
    text-align: center;
    margin: auto;
    width: fit-content;
    text-decoration: none;
}

body{
    background-color: #415A77;
    /* background-image: linear-gradient(#2B4570, ); */
}

.technologies{
    display: flex;
    flex-wrap: wrap;
}

.technology{
    font-size: larger;
    background-color: #E0E1DD;
    color: #0D1B2A;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    /* transition: 2s; */
}


h1{
    margin: auto;
    width: fit-content;
    font-size: 38px;
}

#underName{
    text-align: center;
}

section{
    margin: auto;
    display: grid;
    grid-template-columns: auto 40%;
    max-width: 1150px;

}

@media (max-width: 768px) {
    section{
        /* display: grid; */
        grid-template-columns: auto;
        /* grid-template-rows: auto auto;     */
    }
    .subSection{
        padding-bottom: 20px;
    }
    .aloneImg{
        max-width: 90%;
    }

    .navItem{
        width: 80px;
    }
    .navItem a{
        font-size: large;
    }
  }

summary{
    font-size: x-large;
    text-align:left;
    flex-direction: column;
}

article{
    width: 100%;
    margin: auto;
    padding-top: 75px;
    /* padding-bottom: 50px; */
}

.subSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
}

h2{
    text-align: left;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
}

.subTitle{
    display: flex;
}

h3{
    margin: 0px;
}

.date{
    color: darkgray;
}

/* .technology:hover{
    transform: scale(1.02);
    cursor: default;
} */

#infoBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgray;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.info{
    background-color: white;
    margin: 5px;
    display: flex;
    transition: 0.2s;
    padding-bottom: 3px;
}
.info:hover{
    filter: invert(1);
    transform: translateY(-3px);
}

.textInfoDiv{
    margin: auto;
}
.textInfo{
    color: #E0E1DD;
    text-align: center;
}

a img{
    width: 80px;
    height: 80px;
}

.aloneImg{
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: 2px solid white;
}


a{
    text-decoration: none;
    color: black;
    /* text-decoration: underline; */
}

.links{
    display: flex;
}

.link{
    margin-right: 5px;
}

summary{
    font-size: larger;
}

#pageBottom{
    margin-top: 50px;
    padding: 100px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 15px;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
    /* border: 3px solid #778DA9; */
}

::-webkit-scrollbar-track {
    background: #E0E1DD;
}