html, body{
    margin: 0;
    height: 3000px;
}

nav{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    position: sticky;

    background-color: rgb(17, 24, 39);
    flex-wrap: wrap;
    row-gap: 0px;
    padding: 15px;
    top:0;
}

.navItem{
    width: 150px;
    display: flex;
}
.navItem a{
    color: white;
    font-size: xx-large;
    text-align: center;
    margin: auto;
    width: fit-content;
}

h1{
    margin: auto;
    width: fit-content;
    font-size: xx-large;
}

