
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Pangolin&display=swap');


html, body{
    margin: 0;
    font-family: 'Gabarito', sans-serif;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: sticky;

    background-color: #0D1B2A;
    flex-wrap: wrap;
    padding: 15px;
    top:0;

}

.navItem{
    /* width: 150px; */
    display: flex;
}
.navItem:hover{
    cursor: pointer;
}
.navItem div{
    color: #FBFFFE;
    font-size: xx-large;
    text-align: center;
    margin: auto;
    width: fit-content;
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body{
    background-color: #FBFFFE;
    /* background-image: linear-gradient(#2B4570, ); */
}

.technologies{
    display: flex;
    flex-wrap: wrap;
}

.technology{
    font-size: larger;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    /* border: 1px solid black; */
    /* transition: 2s; */
}

.sectionBorder{
    height: 2px;
    background-color: black;
    margin: auto;
}

h1{
    margin: auto;
    width: fit-content;
    font-size: 50px;
}

h1, #underName{
    font-family: 'Pangolin', cursive;
}

#underName{
    text-align: center;
}

section{
    margin: auto;
    display: grid;
    grid-template-columns: auto 40%;
    max-width: 1150px;
    margin-bottom: 125px;

}

article{
    width: 100%;
    margin: auto;
    margin-top: 125px;
    
}

@media (max-width: 768px) {
    section{
        grid-template-columns: auto;
    }
    .subSection{
        padding-bottom: 20px;
    }
    .aloneImg{
        max-width: 90%;
    }

    .navItem div{
        font-size: large;
    }
  }

summary{
    font-size: x-large;
    text-align:left;
    flex-direction: column;
}

.subSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
}

h2{
    text-align: left;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
}

.subTitle{
    display: flex;
}

h3{
    margin: 0px;
}

.date, summary{
    color: rgb(115,115,115);
}

h2, h2 a{
    color: #D00000;
}


#infoBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgray;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.info{
    background-color: white;
    margin: 5px;
    display: flex;
    transition: 0.2s;
    padding-bottom: 3px;
}
.info:hover{
    filter: invert(1);
    transform: translateY(-3px);
}

#textInfoDiv{
    margin: auto;
    margin-top: 20px;
}

.textInfo{
    color: #E0E1DD;
    text-align: center;
}

a img{
    width: 80px;
    height: 80px;
}

.aloneImg{
    width: 100%;
    margin: auto;
    /* border-radius: 5px; */
    /* border: 2px solid grey; */
    box-shadow: 10px 10px 2px 1px #5A716A;
}


a{
    text-decoration: none;
    color: black;
    transition: .1s ease-in-out;
}

a:hover {
    box-shadow: 2px 2px 1px 1px #5A716A;
    transform: translate(-2px, -2px);

}

.links{
    display: flex;
    font-size: larger;
    margin-top: 10px;
}

.link{
    margin-right: 15px;
    /* color:#433E0E; */
}

summary{
    font-size: large;
}

#pageBottom{
    margin-top: 50px;
    padding: 100px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 15px;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
    /* border: 3px solid #778DA9; */
}

::-webkit-scrollbar-track {
    background: #E0E1DD;
}

